<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">Inetum-RealJobs</a>
    <p-button *ngIf="!isLoggedIn()" label="Log in now" icon="pi pi-user" routerLink="login"></p-button>
<!--Recruiter menu-->
    <div *ngIf="isLoggedIn() && hasRoleRecruiter()" class="navbar-nav d-flex flex-row">
      <a class="nav-link" routerLink="../../company" routerLinkActive="active">My Company</a>
      <a class="nav-link" routerLink="../../vacancy/search" routerLinkActive="active">Search vacancies</a>
      <a class="nav-link" routerLink="../../recruiter/overview" routerLinkActive="active">My vacancies</a>
      <a class="nav-link" routerLink="" routerLinkActive="" id="disabled">Search candidates</a>
      <p-button label="Notifications" icon="pi pi-bell"
                badge="{{amountOfNotifications}}"
                badgeClass="p-badge-success"
                (click)="openNotifications(!showNotifications)"
                >
      </p-button>
      <p-button icon="pi pi-user"
                (click)="avatarMenu.toggle($event)"
                class="ms-2">
      </p-button>
      <p-menu #avatarMenu [popup]="true" [model]="avatarItems"></p-menu>
    </div>
<!--Jobseeker menu-->
    <div *ngIf="isLoggedIn() && isJobseeker()" class="navbar-nav d-flex flex-row">
      <a class="nav-link" routerLink="resume" routerLinkActive="active">Resume</a>
      <a class="nav-link" routerLink="vacancy/search" routerLinkActive="active">Search vacancies</a>
      <a class="nav-link" routerLink="" routerLinkActive="active">My applications</a>
      <p-button icon="pi pi-user"
                (click)="avatarMenu.toggle($event)">
      </p-button>
      <p-menu #avatarMenu [popup]="true" [model]="avatarItems"></p-menu>
    </div>
  </div>
</nav>
<div *ngIf="showNotifications">
  <app-notification></app-notification>
</div>
