:root {
  --in-strong-blue: rgb(35, 45, 75);
  --in-neutral-blue: rgb(0, 85, 115);
  --in-mineral-green: rgb(0, 170, 155);
  --in-accent-red: rgb(240, 70, 65);
}

.container {
  display: flex;
  justify-content: center;
  height: calc(100vh - 56px);
}
