<h1>{{title}}</h1>

<p-toolbar>
  <div class="p-toolbar-group-left">
    <p-autoComplete class="p-toolbar-separator" placeholder="Search on function title"></p-autoComplete>
    <p-button label="Post new vacancy" class="p-toolbar-separator"></p-button>
    <button pButton type="button" class="p-button-warning">Logged in as: {{username}}</button>
  </div>
</p-toolbar>

<div class="container">
  <div class="content-section implementation">
    <div class="card">
      <div *ngIf="!vacancies$">{{defaultMessage}}</div>
      <p-table [value]="vacancies$ | async" [columns]="columns" [scrollable]="true" scrollHeight="450px"
               styleClass="p-datatable-lg" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 20, 30]"
               currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                selectionMode="single">
        <!--        TODO update page report-->
        <ng-template pTemplate="header">
          <tr>
            <th style="min-width: 250px;">
              Vacancy ID
            </th>
            <th style="min-width: 250px;">
              Function title
            </th>
            <th style="min-width: 250px;" pSortableColumn="datePosted">
              Date posted
              <p-sortIcon field="datePosted"></p-sortIcon>
            </th>
            <th style="min-width: 250px;" pSortableColumn="vacancyManager">
              Vacancy manager
              <p-sortIcon field="vacancyManager"></p-sortIcon>
            </th>
            <th style="min-width: 250px;">
              Applicants
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-vacancy>
          <tr>
            <!--            TODO: remove from display when done-->
            <td>{{vacancy["vacancyId"]}}</td>
            <td>
              <a (click)="navigateToVacancy(vacancy['vacancyId'])" class="custom">
                {{vacancy["functionTitle"]}}
              </a>
            </td>
            <td>{{vacancy["postedOn"] | date: 'dd/MM/yy'}}</td>
            <td>{{vacancy["recruiterFullName"]}}</td>
            <td>
              <a (click)="navigateToApplicants(vacancy['vacancyId'])" class="custom">
                {{vacancy["amountOfApplicants"]}}
              </a>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
