<h1>{{title}}</h1>
<p-autoComplete></p-autoComplete>
<p-button label="Post new vacancy"></p-button>
<div class="container">
  <div class="content-section implementation">
    <div class="card">
      <div *ngIf="!vacancies$">{{defaultMessage}}</div>
      <p-table [value]="vacancies$ | async" [columns]="columns">
        <ng-template pTemplate="header">
          <tr>
            <th *ngFor="let column of columns">
              {{column.header}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-vacancy>
          <tr>
            <td>{{vacancy["vacancyId"]}}</td>
            <td>
              <!--                TODO: add routerLink to vacancy/{id} when implemented user story 'modify and delete vacancy'-->
              <a>{{vacancy["functionTitle"]}}</a>
            </td>
            <td>{{vacancy["postedOn"] | date: 'dd/MM/yy'}}</td>
            <td>{{vacancy["recruiterId"]}}</td>
            <td>0</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
