<div class="create-resume">
  <div class="resume-status">
    <app-status-form></app-status-form>
  </div>

  <div class="resume-summary">
    <app-summary-form></app-summary-form>
  </div>

  <div class="resume-experience">
    <app-experience-form></app-experience-form>
  </div>

  <div class="resume-education">
    <app-education-form></app-education-form>
  </div>

  <div class="resume-skill">
    <app-skill-form></app-skill-form>
  </div>

  <div class="resume-language">
    <app-language-form></app-language-form>
  </div>
</div>
<p-toast key="tl" position="top-left"></p-toast>
