<p-card>
  <ng-template pTemplate="header">
    <div class="language-view-header">
      <span
        class="language-view-header-text"
      >
        Languages
      </span>
      <div>
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-pencil"
          (click)="toForm()"
          class="p-button-rounded p-button-text">
        </button>
      </div>
    </div>
  </ng-template>
  <div>
    <div *ngFor="let lang of languages">
      <span>{{lang.language}}</span>
      <p-progressBar
        [value]="getProgress(lang)"
        [showValue]="false"
      >
      </p-progressBar>
    </div>
  </div>
</p-card>
