<p-card>
  <ng-template pTemplate="header">
    <div class="language-view-header">
      <span
        class="language-view-header-text"
      >
        Languages
      </span>
      <div class="card-button">
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-pencil"
          (click)="toForm()"
          class="p-button-rounded p-button-text">
        </button>
      </div>
    </div>
  </ng-template>
  <app-language-list
    [languages]="languages"
    [deleteButton]="false"
  >
  </app-language-list>
</p-card>
