.resume-account {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .name {
    align-self: center;
    font-size: 24px;
    font-weight: 600;
  }

  img {
    width: 100%;
  }
}

.resume-account-loading {
  display: flex;
  align-items: center;
  justify-content: center;
}
