<div class="resume-account" *ngIf="!loading; else loadingIcon">
  <span class="name">{{data.firstName}} {{data.lastName}}</span>
  <!--  TODO <img src="{{data.profilePicture}}"></img>-->
  <img src="https://dummyimage.com/600x400/000/fff">
  <span *ngIf="data.email">
    <i class="pi pi-envelope"></i>
    {{data.email}}
  </span>
  <span *ngIf="data.mobilePhone">
    <i class="pi pi-phone"></i>
    {{data.mobilePhone}}
  </span>
</div>

<ng-template #loadingIcon>
  <div class="resume-account-loading">
    <p-progressSpinner></p-progressSpinner>
  </div>
</ng-template>
