.language-list-comp {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: 1rem 0;

  .language-card {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    height: 100%;
  }

  ::ng-deep .p-card {
    height: 100%;
  }
}

@media screen and (max-width: 75rem) {
  .language-list-comp {
    grid-template-columns: 1fr;
  }
}
