<ng-container *ngFor="let application of applications; let i = index;">
  <span class="number">{{i + 1}}.</span>

  <!-- FIXME - Improve styling. -->
  <div class="application">
    <div class="information">
      <div class="name">
        <span>{{application.jobSeeker.firstName}}</span>
        <span>{{application.jobSeeker.lastName}}</span>
      </div>
      <!--
        FIXME - Improve button.
        - Icons
        - Link to resume
      -->
      <p-button styleClass="p-button-sm">Show resume</p-button>
      <!--
        FIXME - Improve button
        - Icons
        - Link to motivation
      -->
      <p-button styleClass="p-button-sm">Show motivation</p-button>
    </div>
    <div class="actions">
      <!--
        FIXME - Improve button
        - Styling
        - Action
      -->
      <p-button styleClass="p-button-sm">Accept</p-button>
      <!--
        FIXME - Improve button
        - Styling
        - Action
      -->
      <p-button styleClass="p-button-sm">Decline</p-button>
    </div>
    <div class="details">
      <!-- FIXME - Show icon-->
      <a href="mailto:{{application.jobSeeker.email}}">{{application.jobSeeker.email}}</a>
      <!-- FIXME - Format phone number. -->
      <span *ngIf="application.jobSeeker.mobilePhone">{{application.jobSeeker.mobilePhone}}</span>
    </div>
  </div>
</ng-container>
