.experience-card .experience-header {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 700;
  line-height: 1.2;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.experience-card .experience-header-text {
  margin: 0 1rem;
}

.experience-card ::ng-deep .p-card-content {
  padding: 0 !important;
}

.experience-card ::ng-deep .p-card-body {
  padding-top: 0 !important;
}

.experience-card .experience-content {
  display: flex;
  flex-direction: column;
}

.experience-card .experience-company {
  font-size: 16px;
}

.experience-card .experience-industry {
  font-style: italic;
  display: flex;
  justify-content: center;
}

.experience-card .bold {
  font-weight: 500;
}
