<p-card>
  <ng-template pTemplate="header">
    <div class="skills-form-header">
      <span
        class="skills-form-header-text"
      >
        Skills
      </span>
      <div class="card-button">
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-times"
          (click)="closeForm()"
          class="p-button-rounded p-button-text">
        </button>
      </div>
    </div>
  </ng-template>
  <form (ngSubmit)="submitForm()" [formGroup]="skillForm" class="skillForm">
    <div class="form-group">
      <div class="form-inputs">
        <label class="skill-skill-label">Skill</label>
        <input
          formControlName="skill"
          pInputText
          [ngClass]="{'skill-skill-input': true, 'ng-invalid ng-dirty' : isInvalid('skill')}"
        >
        <div class="skill-skill-error">
          <small
            *ngIf="isInvalid('skill')"
            class="p-error"
          >
            {{getValidationMessage("skill")}}
          </small>
        </div>
        <label class="skill-level-label">Skill level</label>
        <p-dropdown
          [options]="skillLevelOptions"
          optionLabel="name"
          optionValue="value"
          formControlName="skillLevel"
          placeholder="Select a skill level"
          [ngClass]="{'skill-level-input': true, 'ng-invalid ng-dirty' : isInvalid('skillLevel')}">
        </p-dropdown>
        <div
          class="skill-level-error"
        >
          <small
            *ngIf="isInvalid('skillLevel')"
            class="p-error"
          >
            {{getValidationMessage("skillLevel")}}
          </small>
        </div>
      </div>

      <div class="center-content">
        <button
          type="submit"
          [disabled]="skillForm.invalid"
          class="p-button p-mb-2"
          pButton
        >
          Add skill
        </button>
      </div>
    </div>
  </form>
  <div>
    <h3>Your skills</h3>
    <div class="skills">
      <span *ngIf="skills.length === 0; else skillsComponent">
        No skill(s) added
      </span>
    </div>
  </div>
</p-card>

<ng-template #skillsComponent>
  <app-skill-list
    [skills]="skills"
    [deleteButton]="true"
    (deleteEvent)="deleteSkill($event)">
  </app-skill-list>
</ng-template>
