.center-content {

}

.description {
  max-width: 400px;
  display: flex;
}

.lock-icon {
  font-size: 3em;
  margin-right: 0.5em;
}


.p-field * {
  display: block;
}

.p-inline-message.p-inline-message-error {
  position: fixed;
  bottom: 0;
  width: 100%;
}
