<div class="center-content">
  <form (ngSubmit)="resetPassword()" [formGroup]="forgotPasswordForm">
    <h2>Forgot password</h2>
    <div class="description">
      <i class="pi pi-lock lock-icon"></i>

      <span>Enter your email address and we'll send you a link to reset your password.</span>
    </div>

    <div class="p-field">
      <label>Email</label>
      <input formControlName="email" pInputText type="text">

      <p-message
        *ngIf="forgotPasswordForm.controls['email'].invalid && (forgotPasswordForm.controls['email'].dirty || forgotPasswordForm.controls['email'].touched)"
        severity="error"
        text="Email is required">
      </p-message>
    </div>


    <button [disabled]="forgotPasswordForm.invalid"
            class="p-button p-mb-2"
            pButton
            pRipple
            type="submit">
      Submit
    </button>
  </form>
</div>

