.education-card {
  .education-header {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 700;
    line-height: 1.2;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .education-header-text {
    margin: 0 1rem;
  }

  ::ng-deep .p-card-content {
    padding: 0 !important;
  }

  ::ng-deep .p-card-body {
    padding-top: 0 !important;
  }

  .education-content {
    display: flex;
    flex-direction: column;
  }

  .education-degree {
    font-size: 16px;
  }

  .bold {
    font-weight: 500;
  }
}
