.skill-view-header {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 600;
  line-height: 1.2;
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skill-view-header-text {
  margin: 1rem;
}
