<div class="error-message" *ngIf="badCredentials">
  <i class="pi pi-times-circle"></i> The email or password is wrong
</div>
<form (ngSubmit)="login()" [formGroup]="loginForm" id="loginForm">
  <h5>Login</h5>
  <label>Email:</label>
  <input [formControlName]="'email'" type="text">
  <label>Password:</label>
  <input [formControlName]="'password'" type="password">
  <button [disabled]="loginForm.invalid" type="submit">Login</button>

  <a routerLink="/forgot-password" routerLinkActive="active">Forgot password?</a>
  <a class="registerLink" routerLink="/register" routerLinkActive="active">Sign up</a>
</form>
