<p-message severity="error" [text]="errorMessage" *ngIf="error" styleClass="p-mr-2"></p-message>

<div class="center-div" *ngIf="loading">
  <p-progressSpinner></p-progressSpinner>
</div>

<div class="p-fluid" *ngIf="(!loading && !error)">

  <div class="wrapper">
    <div>
      <h4 class="text_manageAccount">Manage Account</h4>
    </div>
    <div>
      <img class="profile_pic" src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar">
    </div>
  </div>
  <p-fieldset >
    <ng-template  pTemplate="header">Personal Information</ng-template>
    <form (ngSubmit)="save()" [formGroup]="profileForm" class="gridForm">
      <div class="p-inputgroup mb-2">
        <input type="text" formControlName="firstName" pInputText placeholder="First name">
        <input type="text" formControlName="lastName" pInputText placeholder="Last name">
      </div>
      <div class="full-column">
        <p-dropdown [options]="genders" formControlName="gender" placeholder="Select your gender">
        </p-dropdown>
      </div>
      <div class="full-column ">
        <p-calendar formControlName="dateOfBirth" inputId="basic" placeholder="Birthdate"></p-calendar>
      </div>
      <div class="p-inputgroup ">
        <input type="text"  pInputText placeholder="Street name" formControlName="streetName">
        <input type="number" pInputText placeholder="Nr" formControlName="houseNumber">
        <input type="text" pInputText placeholder="Box" formControlName="box">
      </div>
      <div class="p-inputgroup ">
        <input type="text" pInputText placeholder="City" formControlName="city">
        <input type="number" pInputText placeholder="Postal code" formControlName="postalCode">
      </div>
      <div class="full-column ">
        <p-dropdown [options]="countries$| async " formControlName="country" optionLabel="name" optionValue="name"
                    placeholder="Select your country">
        </p-dropdown>
      </div>
      <div class="full-column">
        <p-inputNumber placeholder="Mobile phone" formControlName="mobilePhone" [useGrouping]="false">
        </p-inputNumber>
      </div>
      <button [loading]="profileFormLoading" [disabled]="!profileForm.dirty || !profileForm.valid" pButton
              label="Update and save" icon="pi pi-save"></button>
    </form>
  </p-fieldset>

  <p-fieldset>
    <ng-template pTemplate="header">Close account</ng-template>
    <button [loading]="deleteLoading" (click)="deleteAccount()" pButton label="Delete account"
            icon="pi pi-trash"></button>

  </p-fieldset>
  <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"
                   rejectButtonStyleClass="p-button-text"></p-confirmDialog>
</div>
