<div>

  <form *ngIf="activeStepIndex==0">
    <label>First Name</label>
    <input id="firstname" type="text" required pInputText>
  </form>

  <form *ngIf="activeStepIndex==1">
    <label>LR</label>
  </form>

  <button *ngIf="activeStepIndex>0"
          (click)="setPreviousForm()">
    Previous
  </button>

  <button *ngIf="activeStepIndex<2"
          (click)="setNextForm()">
    Next
  </button>

  <button *ngIf="activeStepIndex==2"
          (click)="onFormSubmit()">
    Submit
  </button>
</div>
