<div *ngIf="vacancy$ | async as vacancy; else loadingOrError">
  <h2>Applicants for: {{vacancy.functionTitle}}</h2>

  <div *ngIf="applications$ | async as applications; else loadingOrError">
    <!-- FIXME - Actually show applications -->
    {{applications.length}}
  </div>
</div>

<ng-template #loadingOrError>
  <app-error-handler *ngIf="error; else loading" [error]="error"></app-error-handler>

  <ng-template #loading>
    <div class="col-12 text-center">
      Loading ...
    </div>
  </ng-template>
</ng-template>
