<p-card class="statusCard">
  <app-resume-account-details></app-resume-account-details>
  <form (ngSubmit)="confirm($event)" [formGroup]="statusForm" class="statusForm">
    <p-dropdown
      [options]="resumeStatusOptions"
      formControlName="status"
      placeholder="Select a status"
      [ngClass]="{'status-input': true, 'ng-invalid ng-dirty' : isInvalid('status')}">
    </p-dropdown>
    <div class="status-error">
      <small
        *ngIf="isInvalid('status')"
        class="p-error"
      >
        Status is required
      </small>
    </div>
    <div class="center-content">
      <button
        type="submit"
        [disabled]="statusForm.invalid"
        class="p-button p-mb-2"
        pButton
      >
        Set status
      </button>
    </div>
  </form>
</p-card>

<p-confirmDialog></p-confirmDialog>
