<p-card>
  <ng-template pTemplate="header">
    <div class="experience-form-header">
      <span
        class="experience-form-header-text"
      >
        Experience
      </span>
      <div>
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-times"
          class="p-button-rounded p-button-text">
        </button>
      </div>
    </div>
  </ng-template>
  <form (ngSubmit)="submitForm()" [formGroup]="experienceForm" class="experienceForm">
    <div class="form-group">
      <div class="form-inputs">
        <label class="exp-jt-label">Job title</label>
        <input
          formControlName="jobTitle"
          pInputText
          [ngClass]="{'exp-jt-input': true, 'ng-invalid ng-dirty' : isInvalid('jobTitle')}"
        >
        <div
          class="exp-jt-error"
        >
          <small
            *ngIf="isInvalid('jobTitle')"
            class="p-error"
          >
            {{getValidationMessage("jobTitle")}}
          </small>
        </div>
        <label class="exp-cm-label">Company</label>
        <input
          formControlName="company"
          pInputText
          [ngClass]="{'exp-cm-input': true, 'ng-invalid ng-dirty' : isInvalid('company')}"
        >
        <div
          class="exp-cm-error"
        >
          <small
            *ngIf="isInvalid('company')"
            class="p-error"
          >
            {{getValidationMessage("company")}}
          </small>
        </div>
        <label class="exp-sd-label">Start date</label>
        <p-calendar
          [showIcon]="true"
          formControlName="startDate"
          dateFormat="dd-mm-yy"
          [maxDate]="maxStartDate"
          [ngClass]="{'exp-sd-input': true, 'ng-invalid ng-dirty' : isInvalid('startDate')}">
        </p-calendar>
        <div
          class="exp-sd-error"
        >
          <small
            *ngIf="isInvalid('startDate')"
            class="p-error"
          >
            {{getValidationMessage("startDate")}}
          </small>
        </div>
        <label class="exp-ed-label">End date</label>
        <p-calendar
          [showIcon]="true"
          formControlName="endDate"
          dateFormat="dd-mm-yy"
          [minDate]="startDate"
          [maxDate]="today"
          [ngClass]="{'exp-ed-input': true, 'ng-invalid ng-dirty' : isInvalid('endDate')}">
        </p-calendar>
        <div
          class="exp-ed-error"
        >
          <small
            *ngIf="isInvalid('endDate')"
            class="p-error"
          >
            {{getValidationMessage("endDate")}}
          </small>
        </div>
        <p-checkbox
          [formControl]="$any(experienceForm).controls['currentJob']"
          [binary]="true"
          label="This is my current job"
          [ngClass]="{'exp-cj-input': true, 'ng-invalid ng-dirty' : isInvalid('currentJob')}"
        >
        </p-checkbox>
        <label class="exp-i-label">Industry</label>
        <input
          class="exp-i-input"
          formControlName="industry"
          pInputText
          [ngClass]="{'exp-i-input': true, 'ng-invalid ng-dirty' : isInvalid('industry')}"
        >
        <div
          class="exp-i-error"
        >
          <small
            *ngIf="isInvalid('industry')"
            class="p-error"
          >
            {{getValidationMessage("industry")}}
          </small>
        </div>
        <label class="exp-cat-label">Category</label>
        <input
          formControlName="functionCategory"
          pInputText
          [ngClass]="{'exp-cat-input': true, 'ng-invalid ng-dirty' : isInvalid('functionCategory')}"
        >
        <div
          class="exp-cat-error"
        >
          <small
            *ngIf="isInvalid('functionCategory')"
            class="p-error"
          >
            {{getValidationMessage("functionCategory")}}
          </small>
        </div>
        <label class="exp-desc-label">Description</label>
        <textarea
          formControlName="description"
          pInputTextarea
          [autoResize]="true"
          [ngClass]="{'exp-desc-input': true, 'ng-invalid ng-dirty' : isInvalid('description')}">
        </textarea>
      </div>

      <div class="center-content">
        <button
          type="submit"
          [disabled]="experienceForm.invalid"
          class="p-button p-mb-2"
          pButton
        >
          Add experience
        </button>
      </div>
    </div>
  </form>
  <div>
    <h3>Your experience</h3>
    <div class="experience-list">
      <span *ngIf="experienceList.length === 0; else experienceListComponent">
        No experience(s) added
      </span>
    </div>
  </div>
</p-card>

<ng-template #experienceListComponent>
  <app-experience-list
    [experienceList]="experienceList"
    [deleteButton]="true"
    (deleteEvent)="deleteExperience($event)">
  </app-experience-list>
</ng-template>
