<div *ngIf="!code; else page">
  <app-not-found></app-not-found>
</div>
<ng-template #page>
  <div *ngIf="message.message" [ngClass]="{'error-message': message.error, 'confirm-message': !message.error}">
    <i [ngClass]="{'pi': true, 'pi-times-circle': message.error, 'pi-check-circle': !message.error}"></i>
    <span [innerHTML]="message.message"></span>
  </div>
  <form (ngSubmit)="resetPassword()" [formGroup]="forgotPasswordForm">
    <h5>Reset password</h5>

    <label>New password:</label>
    <input formControlName="password" type="password">
    <p-message
      *ngIf="forgotPasswordForm.controls['password'].invalid &&
              (forgotPasswordForm.controls['password'].dirty || forgotPasswordForm.controls['password'].touched)"
      [text]="getValidationMessage(forgotPasswordForm.controls['password'])"
      class="validation-message"
      severity="error">
    </p-message>

    <label>Confirm password:</label>
    <input formControlName="password_repeat" type="password">
    <p-message
      *ngIf="forgotPasswordForm.controls['password_repeat'].invalid &&
              (forgotPasswordForm.controls['password_repeat'].dirty || forgotPasswordForm.controls['password_repeat'].touched)"
      [text]="getValidationMessage(forgotPasswordForm.controls['password_repeat'])"
      class="validation-message"
      severity="error">
    </p-message>

    <p-message
      *ngIf="forgotPasswordForm.invalid && forgotPasswordForm.errors"
      [text]="getGlobalValidationMessages()"
      class="validation-message"
      severity="error">
    </p-message>
    <button [disabled]="forgotPasswordForm.invalid || loading" type="submit">
      <p-progressSpinner *ngIf="loading" [style]="{size: '1em', height: '1em'}"></p-progressSpinner>
      <span *ngIf="!loading">Reset</span>
    </button>
  </form>
</ng-template>
