.description {
  max-width: 400px;
  display: flex;
  grid-column: span 2;
}

.lock-icon {
  font-size: 3em;
  margin-right: 0.2em;
}

#buttons {
  display: flex;
  justify-content: space-around;
}

form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 0.5em;
  max-width: 30em;
  width: 100%;
  border: 2px solid grey;
  padding: 0.2em;
  border-radius: 0.4em;
}

label {
  grid-column: 1 / 2;
}

input {
  grid-column: 2 / 3;
}

button {
  grid-column: span 2;
  margin-top: 0.5em;
  border-radius: 0.4em;
}

h5 {
  text-align: center;
  grid-column: span 2;
}

.error-message {
  color: red;
}

.confirm-message {
  color: green;
}

form ::ng-deep .p-progress-spinner-circle {
  stroke: black;
  animation: p-progress-spinner-dash 1.5s ease-in-out infinite, p-progress-spinner-black 6s ease-in-out infinite;
  width: 1em;
  height: 1em;
}

@keyframes p-progress-spinner-black {
  0% {
    stroke: black;
  }
}

.validation-message {
  grid-column: span 2;
  width: 100%;
  justify-content: flex-start;
}

.validation-message ::ng-deep > * {
  width: 100%;
  justify-content: flex-start;
}

//form ::ng-deep .p-messages [role="alert"] {
//  margin: 0;
//}
//
//form ::ng-deep .p-messages .p-message-wrapper {
//  padding: 0;
//}
