<div class="create-resume" *ngIf="!isLoading; else loading">
  <div class="resume-status">
    <app-status-controller
      [accountInfo]="resume.accountInfo"
      [status]="resume.status"
      (statusUpdatedEvent)="updateStatus($event)"
      [isFormOpen]="openForms.experience"
      (formChangeEvent)="$event ? openForm('status') : closeForm('status')"
    >
    </app-status-controller>
  </div>

  <div class="resume-summary">
    <app-summary-controller
      [summary]="resume.summary"
      (summaryUpdatedEvent)="updateSummary($event)"
      [isFormOpen]="openForms.summary"
      (formChangeEvent)="$event ? openForm('summary') : closeForm('summary')"
    >
    </app-summary-controller>
  </div>

  <div class="resume-experience">
    <app-experience-controller
      [dob]="resume.accountInfo.dateOfBirth"
      [experienceList]="resume.experienceList"
      (experienceUpdatedEvent)="updateExperience($event)"
      [isFormOpen]="openForms.experience"
      (formChangeEvent)="$event ? openForm('experience') : closeForm('experience')"
    >
    </app-experience-controller>
  </div>

  <div class="resume-education">
    <app-education-controller
      [dob]="resume.accountInfo.dateOfBirth"
      [educationList]="resume.educationList"
      (educationUpdatedEvent)="updateEducation($event)"
      [isFormOpen]="openForms.education"
      (formChangeEvent)="$event ? openForm('education') : closeForm('education')"
    >
    </app-education-controller>
  </div>

  <div class="resume-skill">
    <app-skill-controller
      [skills]="resume.skills"
      (skillUpdatedEvent)="updateSkills($event)"
      [isFormOpen]="openForms.skill"
      (formChangeEvent)="$event ? openForm('skill') : closeForm('skill')"
    >
    </app-skill-controller>
  </div>

  <div class="resume-language">
    <app-language-controller
      [languages]="resume.languages"
      (languageUpdatedEvent)="updateLanguage($event)"
      [isFormOpen]="openForms.language"
      (formChangeEvent)="$event ? openForm('language') : closeForm('language')"
    >
    </app-language-controller>
  </div>
</div>
<p-toast key="tl" position="top-left"></p-toast>

<ng-template #loading>
  <p-progressSpinner></p-progressSpinner>
</ng-template>

<p-confirmDialog></p-confirmDialog>
<p-dialog header="Open another form" [(visible)]="openFormMessage">
  <p>Please close the {{getOpenedFormName()}} form before opening another.</p>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)="openFormMessage=false" label="Ok" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>
